.container-user-tracker {
    margin-top: 1em;
}

.login, .password {
    width: 40%
}

.password {
    margin: 0 4%;
}

.btn-track {
    width: 12%;
}

#map {
    height: 800px;
    margin-top: 1em;
}

.info-tracker {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.info-tracker > button {
    margin-top: 1em;
    width: 100%;
}


@media (max-width: 960px) {
    .form-tracker {
        display: flex;
        flex-direction: column;
        width: 50%;
        margin: 0 auto;
     }

    .password {
        margin: 0;
    }

    .login, .password, .btn-track {
        width: 100%;
    }
}

@media (max-width: 550px) {
    .form-tracker, .info-tracker {
        width: 100%;
    }
}
