<div class="container">
  <div class="logo">
    <img src="../assets/map.svg" alt="logo-place-finder">
    <h1 class="logo-h1">User tracker</h1>
  </div>

  <div class="description">
    <h2>What is it User Tracker?</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae commodi fuga hic ipsa molestias nostrum quod sed vero.
      Aperiam expedita in modi molestiae optio. Dignissimos eaque fuga incidunt magnam pariatur.</p>
  </div>

  <div class="tabs">
    <mat-tab-group mat-stretch-tabs>
      <mat-tab label="Location sharing" style="width: 50%;">
        <app-location-sharing></app-location-sharing>
      </mat-tab>
      <mat-tab label="User tracking">
        <app-user-tracking></app-user-tracking>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>

