.container {
  width: 60%;
  margin: 0 auto;

}

.logo {
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}

.logo > img {
  width: 128px;
}

h1.logo-h1 {
  font-size: 50px;
  font-family: Lato, "Helvetica Neue", sans-serif;
  margin: 1em 0;
}

.description, .tabs {
  margin-top: 3em;
}
