<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>


    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
          integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
          crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
            integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
            crossorigin=""></script>

    <style>#mapid {
        height: 600px;
    }</style>

</head>
<body>

<div id="mapid"></div>
<br><br>

<label>Radius in meters:</label>
<input type="number" min="100" step="100" id="radius"><br><br>

<label>Type of places</label>
<input type="text" id="type"><br><br>

<button type="button" onclick="findPlaces()">Find places</button>

<script th:inline="javascript">

    document.getElementById("radius").value = 5000;
    document.getElementById("type").value = "restaurant";

    var places = [[${places}]];

    var lat = [[${lat}]];
    var lng = [[${lng}]];

    var map = L.map('mapid');
    var marker;

    if (lat != 0 || lng != 0) {
        map.setView([lat, lng], 10);
        marker = L.marker([lat, lng]).addTo(map)
            .bindPopup("Your point")
            .openPopup();
    } else {

        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(geolocationOnSuccess, geolocationOnError);
        } else {
            map.setView([51.505, -0.09], 8);
            marker = L.marker([51.505, -0.09]).addTo(map)
                .bindPopup("Your point")
                .openPopup();
        }
    }

    function geolocationOnSuccess(position) {
        console.log(position.coords.latitude);
        console.log(position.coords.longitude);
        map.setView([position.coords.latitude, position.coords.longitude], 10);
        marker = L.marker([position.coords.latitude, position.coords.longitude]).addTo(map)
            .bindPopup("Your point")
            .openPopup();
    }

    function geolocationOnError() {
        map.setView([51.505, -0.09], 8);
        marker = L.marker([51.505, -0.09]).addTo(map)
            .bindPopup("Your point")
            .openPopup();
    }

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);

    map.on('click', function (e) {
        marker.remove();
        marker = new L.marker(e.latlng).addTo(map)
            .bindPopup("Your point")
            .openPopup();

        function addMarker(e) {
            var newMarker = new L.marker(e.latlng).addTo(map);
        }
    });


    for (var i = 0; i < places.length; i++) {
        console.log(places[i]);
        L.marker([places[i].lat, places[i].lng]).addTo(map)
            .bindPopup('<b>' + places[i].name + '</b>'
                + "<br>Rating: " + places[i].rating
                + "<br>Number of votes: " + places[i].user_ratings_total
                + "<br>Opened: " + places[i].open_now)
            .openPopup()
    }

    function findPlaces() {
        let latLng = marker.getLatLng();

        let url = "http://localhost:8080/map/places?";
        url += "lat=" + latLng.lat;
        url += "&lng=" + latLng.lng;
        url += "&radius=" + document.getElementById("radius").value;
        url += "&type=" + document.getElementById("type").value;

        window.location.replace(url);
    }

</script>

</body>
</html>